#booksTable {
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
  }

  th {
    background-color: #0f100f;
    color: white;
    text-align: left;
    padding: 10px;
  }

  td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  table,
  th,
  td {
    border: 1px solid #ddd;
  }
}
